In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('matches - matches.csv') #only the name is fine if the file is in the same directory

In [4]:
myseries = data['winner'].value_counts()

In [5]:
myseries

winner
Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: count, dtype: int64

In [7]:
myseries.index

Index(['Mumbai Indians', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Sunrisers Hyderabad', 'Deccan Chargers',
       'Gujarat Lions', 'Pune Warriors', 'Rising Pune Supergiant',
       'Kochi Tuskers Kerala', 'Rising Pune Supergiants'],
      dtype='object', name='winner')

In [8]:
myseries.values

array([92, 79, 77, 73, 70, 63, 62, 42, 29, 13, 12, 10,  6,  5])

In [9]:
myseries.head(5)

winner
Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Name: count, dtype: int64

In [10]:
myseries.tail(5)

winner
Gujarat Lions              13
Pune Warriors              12
Rising Pune Supergiant     10
Kochi Tuskers Kerala        6
Rising Pune Supergiants     5
Name: count, dtype: int64

In [12]:
myseries['Chennai Super Kings']

np.int64(79)

In [14]:
#imp
# if two series have same index then we can perform mathematical operations on them

In [15]:
data['team1'].value_counts()

team1
Mumbai Indians                 82
Kings XI Punjab                77
Chennai Super Kings            77
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Delhi Daredevils               63
Rajasthan Royals               54
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  14
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: count, dtype: int64

In [16]:
data['team2'].value_counts()

team2
Delhi Daredevils               84
Royal Challengers Bangalore    82
Kolkata Knight Riders          80
Mumbai Indians                 75
Kings XI Punjab                71
Rajasthan Royals               64
Chennai Super Kings            54
Deccan Chargers                32
Sunrisers Hyderabad            30
Pune Warriors                  26
Gujarat Lions                  16
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: count, dtype: int64

In [17]:
data['team1'].value_counts() + data['team2'].value_counts()

Chennai Super Kings            131
Deccan Chargers                 75
Delhi Daredevils               147
Gujarat Lions                   30
Kings XI Punjab                148
Kochi Tuskers Kerala            14
Kolkata Knight Riders          148
Mumbai Indians                 157
Pune Warriors                   46
Rajasthan Royals               118
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    152
Sunrisers Hyderabad             76
Name: count, dtype: int64

In [18]:
data['team1'].value_counts() * data['team2'].value_counts()

Chennai Super Kings            4158
Deccan Chargers                1376
Delhi Daredevils               5292
Gujarat Lions                   224
Kings XI Punjab                5467
Kochi Tuskers Kerala             49
Kolkata Knight Riders          5440
Mumbai Indians                 6150
Pune Warriors                   520
Rajasthan Royals               3456
Rising Pune Supergiant           64
Rising Pune Supergiants          49
Royal Challengers Bangalore    5740
Sunrisers Hyderabad            1380
Name: count, dtype: int64

In [19]:
data['team1'].value_counts() / data['team2'].value_counts()

Chennai Super Kings            1.425926
Deccan Chargers                1.343750
Delhi Daredevils               0.750000
Gujarat Lions                  0.875000
Kings XI Punjab                1.084507
Kochi Tuskers Kerala           1.000000
Kolkata Knight Riders          0.850000
Mumbai Indians                 1.093333
Pune Warriors                  0.769231
Rajasthan Royals               0.843750
Rising Pune Supergiant         1.000000
Rising Pune Supergiants        1.000000
Royal Challengers Bangalore    0.853659
Sunrisers Hyderabad            1.533333
Name: count, dtype: float64