In [1]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('Fortune 500 Companies US.csv', encoding='latin1')

In [18]:
data.head(2)

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"

In [20]:
companies = data.groupby('Company Name')
companies

In [10]:
len(data)

500

In [15]:
len(companies)

497

In [21]:
companies.size().sort_values(ascending=False)

Company Name
Avnet                  2
Alcoa                  2
Regions Financial      2
Whirlpool              1
W.R. Berkley           1
                      ..
Activision Blizzard    1
Adobe Systems          1
Advance Auto Parts     1
Aetna                  1
Weyerhaeuser           1
Length: 497, dtype: int64

In [22]:
companies.first()

,Rank,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Company Name,,,,,,,,,
3M,94,"91,584",93.0,"$30,109",-0.5%,"$5,050.0",4.5%,"$32,906","$1,14,338"
A-Mark Precious Metals,395,"83,000",426.0,"$6,784",11.8%,$9.3,31.5%,$437,$120
ABM Industries,500,"1,10,000",485.0,"$5,145",-2.8%,$57.2,-25.0%,"$2,281","$2,428"
ADP,240,"57,000",248.0,"$11,668",1.7%,"$1,492.5",2.8%,"$43,670","$45,963"
AECOM,161,"87,000",156.0,"$17,411",-3.2%,$96.1,-,"$13,727","$5,528"
...,...,...,...,...,...,...,...,...,...
Yum China Holdings,399,"4,20,000",NaN,"$6,752",-,$502.0,-,"$3,727","$10,453"
Zimmer Biomet Holdings,352,"18,500",431.0,"$7,684",28.1%,$305.9,108.1%,"$26,684","$24,571"
eBay,310,"12,600",300.0,"$8,979",-5.4%,"$7,266.0",321.2%,"$23,847","$36,232"
iHeartMedia,426,"18,700",414.0,"$6,274",0.5%,-$296.3,-,"$12,862",$330
salesforce.com,326,"25,000",386.0,"$8,392",25.9%,$179.6,-,"$17,585","$58,362"

In [23]:
companies.last()

,Rank,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Company Name,,,,,,,,,
3M,94,"91,584",93.0,"$30,109",-0.5%,"$5,050.0",4.5%,"$32,906","$1,14,338"
A-Mark Precious Metals,395,"83,000",426.0,"$6,784",11.8%,$9.3,31.5%,$437,$120
ABM Industries,500,"1,10,000",485.0,"$5,145",-2.8%,$57.2,-25.0%,"$2,281","$2,428"
ADP,240,"57,000",248.0,"$11,668",1.7%,"$1,492.5",2.8%,"$43,670","$45,963"
AECOM,161,"87,000",156.0,"$17,411",-3.2%,$96.1,-,"$13,727","$5,528"
...,...,...,...,...,...,...,...,...,...
Yum China Holdings,399,"4,20,000",NaN,"$6,752",-,$502.0,-,"$3,727","$10,453"
Zimmer Biomet Holdings,352,"18,500",431.0,"$7,684",28.1%,$305.9,108.1%,"$26,684","$24,571"
eBay,310,"12,600",300.0,"$8,979",-5.4%,"$7,266.0",321.2%,"$23,847","$36,232"
iHeartMedia,426,"18,700",414.0,"$6,274",0.5%,-$296.3,-,"$12,862",$330
salesforce.com,326,"25,000",386.0,"$8,392",25.9%,$179.6,-,"$17,585","$58,362"

In [24]:
companies.groups

{'3M': [93], 'A-Mark Precious Metals': [394], 'ABM Industries': [499], 'ADP': [239], 'AECOM': [160], 'AES': [193], 'AGCO': [369], 'AIG': [54], 'AK Steel Holding': [440], 'AT&T': [8], 'AbbVie': [110], 'Abbott Laboratories': [134], 'Activision Blizzard': [405], 'Adobe Systems': [442], 'Advance Auto Parts': [291], 'Aetna': [42], 'Aflac': [125], 'Air Products & Chemicals': [293], 'Airgas': [488], 'Alaska Air Group': [437], 'Albertsons Cos.': [48], 'Alcoa': [227, 299], 'Alleghany': [427], 'Alliance Data Systems': [377], 'Allstate': [83], 'Ally Financial': [285], 'Alphabet': [26], 'Altria Group': [147], 'AmTrust Financial Services': [474], 'Amazon.com': [11], 'Ameren': [430], 'American Airlines Group': [66], 'American Electric Power': [166], 'American Express': [85], 'American Family Insurance Group': [314], 'American Financial Group': [410], 'American Tower': [448], 'Ameriprise Financial': [238], 'AmerisourceBergen': [10], 'Amgen': [122], 'Amphenol': [423], 'Anadarko Petroleum': [343], 'Anixter International': [358], 'Anthem': [28], 'Apache': [487], 'Apple': [2], 'Applied Materials': [264], 'Aramark': [191], 'Archer Daniels Midland': [44], 'Arrow Electronics': [117], 'Arthur J. Gallagher': [461], 'Asbury Automotive Group': [409], 'Ascena Retail Group': [383], 'Assurant': [360], 'Auto-Owners Insurance': [397], 'AutoNation': [128], 'AutoZone': [269], 'Autoliv': [282], 'Avery Dennison': [429], 'Avis Budget Group': [318], 'Avnet': [107, 108], 'Avon Products': [443], 'BB&T Corp.': [244], 'Baker Hughes': [284], 'Ball': [305], 'Bank of America Corp.': [25], 'Bank of New York Mellon Corp.': [176], 'Baxter International': [280], 'Becton Dickinson': [224], 'Bed Bath & Beyond': [232], 'Berkshire Hathaway': [1], 'Berry Global Group': [412], 'Best Buy': [71], 'Big Lots': [494], 'Biogen': [247], 'BlackRock': [254], 'Boeing': [23], 'Booz Allen Hamilton Holding': [480], 'BorgWarner': [304], 'Boston Scientific': [326], 'Bristol-Myers Squibb': [146], 'Builders FirstSource': [420], 'Burlington Stores': [462], 'C.H. Robinson Worldwide': [211], 'CBRE Group': [213], 'CBS': [192], 'CDW': [198], 'CH2M Hill': [493], 'CHS': [92], 'CMS Energy': [418], 'CST Brands': [306], 'CSX': [256], 'CVS Health': [6], 'CalAtlantic Group': [414], 'Calpine': [399], 'Campbell Soup': [338], 'Capital One Financial': [99], 'CarMax': [173], 'Cardinal Health': [14], 'CaseyÕs General Stores': [422], ...}

In [28]:
data.iloc[93]

Rank                          94
Company Name                  3M
Number of Employees       91,584
Previous Rank               93.0
Revenues                 $30,109
Revenue Change             -0.5%
Profits                 $5,050.0
Profit Change               4.5%
Assets                   $32,906
Market Value           $1,14,338
Name: 93, dtype: object

In [29]:
companies.sum()

,Rank,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
Company Name,,,,,,,,,
3M,94,"91,584",93.0,"$30,109",-0.5%,"$5,050.0",4.5%,"$32,906","$1,14,338"
A-Mark Precious Metals,395,"83,000",426.0,"$6,784",11.8%,$9.3,31.5%,$437,$120
ABM Industries,500,"1,10,000",485.0,"$5,145",-2.8%,$57.2,-25.0%,"$2,281","$2,428"
ADP,240,"57,000",248.0,"$11,668",1.7%,"$1,492.5",2.8%,"$43,670","$45,963"
AECOM,161,"87,000",156.0,"$17,411",-3.2%,$96.1,-,"$13,727","$5,528"
...,...,...,...,...,...,...,...,...,...
Yum China Holdings,399,"4,20,000",0.0,"$6,752",-,$502.0,-,"$3,727","$10,453"
Zimmer Biomet Holdings,352,"18,500",431.0,"$7,684",28.1%,$305.9,108.1%,"$26,684","$24,571"
eBay,310,"12,600",300.0,"$8,979",-5.4%,"$7,266.0",321.2%,"$23,847","$36,232"
iHeartMedia,426,"18,700",414.0,"$6,274",0.5%,-$296.3,-,"$12,862",$330
salesforce.com,326,"25,000",386.0,"$8,392",25.9%,$179.6,-,"$17,585","$58,362"